/*!------------HEADER-------------*/


header nav {
    background-color: #11111B;
    padding: 10px; 
}
  
header nav ul {
    list-style-type: none;
    padding: 0;
    text-align: right;
}
    
header nav li {
    display: inline-block; 
    margin-left: 35px; 
}
  
header nav a {
    text-decoration: none; 
    color: #fff;
    font-weight: bold; 
    font-size: 18px;
}
  
header nav a:hover {
    color: #9964AA;
}



/*!------------GENÉRICOS-------------*/


body{
    background-color: #17172c;
    font-family: 'Roboto', sans-serif;
}

h2 {
    color: white;
    font-size: 60px;
    margin: 50px;
    font-weight: bold;
}

.texto-principal {
    color:white;
    font-size: 80px;
    font-weight: bold;
    margin: 50px;
}

.parrafos-genericos {
    font-size: 22px; 
    color: white;
    text-align: justify;
    line-height: 150%;
    margin: 50px;
}

.button-generico{
    font-size: 16px; 
    padding: 10px 20px; 
    text-align: left; 
    display: block; 
    margin: 0 auto; 
    background-color: #9964AA; 
    color: #fff; 
    border: none; 
    border-radius: 15px; 
    cursor: pointer; 
}

/*!---------------------------------MAIN INFO PERSONAL------------------------------------------*/

main{
    max-width: 1200px;
    margin: 0 auto;
} 

.hero{
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.image-personal{
    padding: 30% 0 0 0;

}

.hero-image{
    width: 300px; 
    height: 300px; 
    border-radius: 50%;

}

.info{
    align-self: center;
}

@media screen and (max-width: 768px) {
    main {
        max-width: 90%;
    }

    .hero {
        grid-template-columns: 1fr;
        grid-template-rows: [row1-start] 20% [row1-end] 100px [last-line] auto;
    }


    .about{
        grid-row-start: row1-start;
        grid-row-end: row1-end;
        grid-column-start: 1;
        grid-column-end: span 1;
    }

    .image-personal{
        padding: 12% 0 0 30%;
        grid-column-start: 1;
        grid-column-end: span 1;
    }

    .hero-image {
        width: 300px;
        height: 300px;

    }

    .info {
        text-align: center; 
        
        grid-row-start: row3-start;
        grid-row-end: row3-end;
        grid-column-start: 1;
        grid-column-end: span 1;
    }
}
/*!-----------------------------------------------------------------------------------*/


.skills {
    text-align: center; 
}

.skills h2 {
    color: white;
    font-size: 45px; 
    text-align: center;
    margin-bottom: 20px;
}
  
.image-text-skills {
    display: inline-block; 
    text-align: center; 
    margin: 30px; 
}

.image-text-skills img {
    width: 180px; 
    height: auto;
}

.image-text-skills p {
    font-size: 16px; 
    color: white; 
    margin-top: 5px; 
}


/*!---------------------------------SERVICES------------------------------------------*/

.services-grid{
    display: grid;
    grid-template-columns: 250px 250px 250px;
    grid-template-rows: 100px 100px;
    grid-template-areas:
        "one two two"
        "three three four"
        "five six seven";
    place-content: center;
    grid-gap: 100px;
    margin-left: 125px;
}

.services h2 {
    color: white;
    font-size: 45px; 
    text-align: center;
    margin-bottom: 100px;
}

.services i {
    font-size: 50px; 
    color: white;
}

.services p {
    margin-top: 10px; 
    font-weight: bold; 
    color: white;
}

@media screen and (max-width: 1024px) {
    .services-grid {
        grid-template-columns: repeat(2, minmax(100px, 250px)); 
        grid-template-areas:
            "one two"
            "three three"
            "four five"
            "six seven";
            margin-left: 125px;
    }
    
}

@media screen and (max-width: 768px) {
    .services-grid {
        grid-template-columns: 1fr; 
        grid-template-areas:
            "one"
            "two"
            "three"
            "four"
            "five"
            "six"
            "seven";
            margin-left: 250px;
    }
    
}


/*!-----------------------------------------------------------------------------------------*/

.trabajar-juntos h3 {
    color:white;
    font-size: 60px;
}

.trabajar-juntos p {
    font-size: 22px; 
    color: white;
    text-align: left;
}


/*!------------FOOTER-------------*/

.redes-sociales ul {
    list-style-type: none; 
    padding: 0; 
    text-align: center;
    color: #fff; 
    display: grid; 
    grid-template-columns: 150px 150px 150px 150px;
    place-content: center;
}
  
.redes-sociales ul li {
    margin: 50px;
    padding: 0;
}

ul li i {
    font-size: 24px; 
    vertical-align: middle; 
}

ul li a {
    color: #fff;
}


/*!------------CONTACT-------------*/

.contenido-contacto {
    margin-left: 50px;
    margin-bottom: 80px;
    color: white;
    font-size: 22px; 
    text-decoration: none;
}

.formulario {
    font-size: 24px; 
    vertical-align: middle; 
    color: #fff; 
    
}

.formulario {
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0 70px 0;
}

.formulario form div {
    margin-bottom: 15px;
}


/*!--------------------------------------------------SERVICES---------------------------------------------------------------*/

.main-services{
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: auto auto auto auto; 
    gap: 10px; 
    align-items: center;
}

.titulo-services{
    grid-row: 1;
    text-align: center;
    font-weight: bold;
    color:white;
    font-size: 80px;
    margin: 50px;
}

.texto-services{
    text-align: center;
    padding: 10px;
    font-size: 22px; 
    color: white;
    line-height: 150%;
    margin: 50px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    gap: 10px;
    margin: 100px;
}

.grid-item {
    padding: 20px;
    text-align: center;
}

.grid-services{
    display: grid;
    grid-template-columns: repeat(3, 270px);
    grid-template-rows: repeat(3, 150px);
    gap: 10px;
    margin: 50px;
    justify-content: center;
}

.item {
    border: 1px solid #ffffff; /* Borde para resaltar las celdas */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
  }