

body{
    background-color: #181620;
    font-family: 'Urbanist', sans-serif;
}

h2 {
    color: white;
    font-size: 60px;
    margin: 50px;
    font-weight: bold;
    font-family: 'Urbanist', sans-serif;
}

.texto-principal {
    color:white;
    font-size: 85px;
    font-weight: bold;
    margin: 50px;
    font-family: 'Urbanist', sans-serif;
}

.parrafos-genericos {
    font-size: 22px; 
    color: white;
    text-align: justify;
    line-height: 150%;
    margin: 50px;
    font-family: 'Urbanist', sans-serif;
}
