.hero{
    display: grid;
    grid-template-columns: 3fr 2fr;
    div{
        align-self: center;
        h2{
            color: $color-secundario;
            font-size: 60px;
            margin: 50px;
            font-weight: bold;
            font-family: 'Urbanist', sans-serif;

        }
        p{
            font-size: 22px; 
            color: $color-secundario;
            text-align: justify;
            line-height: 150%;
            margin: 50px;
            font-family: 'Urbanist', sans-serif;

        }
        a{
            .button{
                background-color: map-get($boton, fondo);
                font-size: map-get($boton, text-size);
                font-weight: map-get($boton, text-peso);
                color: map-get($boton, text-color);
                padding: map-get($boton, espaciado-interior);
                display: map-get($boton, visualizacion);
                margin: map-get($boton, margen);
                border: map-get($boton, border);
                border-radius: map-get($boton, radio-border);
                cursor: map-get($boton, punterio);
            }

        }
    }
    div{
        padding: 30% 0 0 0;
        img{
            width: 300px; 
            height: 300px; 
            border-radius: 50%;
        }
    }
}